{% extends 'base.html.twig' %}

{% block title %}Conectare!{% endblock %}

{% block body %}

    <style>
        .main{
            background-color: #FFFFFF;
            width: 400px;
            height: 400px;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
        }
        .font-weight-normal{
            padding-top: 20px;
            padding-bottom: 10px;
            color: #33adff;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 30px;
        }
        .form-control{
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: sans-serif;
        }
        .form-control{
            border: 2px solid rgba(0,0,0,0.18) !important;
        }
        .form1{
            padding-top: 15px;
        }
        .btn-primary{
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #1aa3ff, #4db8ff);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: sans-serif;
            margin-left: 31%;
            font-size: 15px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }
        .forgot{
            text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
            color: #80ccff;
            padding-top: 18px;
        }
        .checkbox{
            text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
            color: #33adff;
            padding-top: 15px;
        }
        a{
            text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
            color: #33adff;
            text-decoration: none
        }

        @media (max-width: 600px) {
            .main{
                border-radius: 0;
            }
        }
    </style>

{#    <link rel="stylesheet" href="{{ asset('css/login.css') }}">#}

    {% if error %}
        <div>{{ error.messageKey|trans(err.messageData, 'security')}}</div>
    {% endif %}

    <div class = main>
        <form method="post" class="form1">
            <h1 class="h3 mb-3 font-weight-normal" align="center">Conectare</h1>
            <input type="text" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Username">
            <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Parolă">

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit" name="submit-login">
                Înregistrare
            </button>
            <div class="checkbox mb-3" align="center">
                <label>
                    <input type="checkbox" name="_remember_me"> Ține-mă minte
                </label>
            </div>
            <p class="forgot" align="center"><a href="#">Am uitat parola?</a> | <a href="{{ path('register_page') }}">Crează cont</a> </p>
        </form>
    </div>

{% endblock %}
